.container-dashboard {
    background: url("../../assets/MainBG.png") center center/cover;
    height: 100vh;
    width: 100%;

    display: flex;
}

.sidebar {
    width: 315px;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid var(--gray-color-lines);
}

.sidebar .logo-side {
    margin: 53px 0;
}

.side-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.side-list a {
    padding: 15px 55px;
    text-decoration: none;
    border-radius: 7px;
    color: var(--gray-color);
    width: 242px;

    display: flex;
    align-items: center;
}

.side-list a img {
    margin-right: 14px;
}

.logout-side {
    margin-top: auto;
    display: block;
    margin-bottom: 35px;
    color: var(--red-color);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logout-side svg {
    margin-right: 4px;
}

.side-active {
    background: var(--main-color);
    color: #fff !important;
    margin-bottom: 15px;
}

.main-section {
    padding: 50px 55px;
    width: 75%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group-title h2 {
    font-size: 35px;
    font-weight: 900;
    color: var(--gray-color);
    text-transform: uppercase;
}

.group-title p {
    font-size: 16px;
    font-weight: 400;
    color: var(--gray-color-light);
}

.btn-primary {
    height: 50px;
    background: var(--main-color);
    color: #fff;
    border: none;
    padding: 0 50px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;

    display: flex;
    align-items: center;
}

.btn-primary svg {
    margin-right: 4px;
}

.header {
    margin-bottom: 50px;
}

.list-container {
    width: 100%;
}

.list-tit {
    display: flex;
    justify-content: space-between;
    max-width: 773px;
    margin-bottom: 35px;
    font-weight: 600;
}

.list-conteudo {
    width: 100%;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 773px;
    border-bottom: 1px solid var(--gray-color-lines);
    padding: 15px 0;
}

.tb-container {
    border-collapse: collapse;
}

.tb-container td,
.tb-container th {
    padding: 15px 15px;
    text-align: start;
    width: 773px;
}

.tb-container th {
    padding-bottom: 45px;
}

.tb-item {
    border-bottom: 1px solid var(--gray-color-lines);
}

.tb-first {
    border-top: 1px solid var(--gray-color-lines);
}

.tb-tit th:first-child,
.tb-item td:first-child {
    padding-left: 0 !important;
}

/* ---- Modal ---- */

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.modal {
    background: #fff;
    max-width: 568px;
    width: 568px;
    padding: 80px 60px;
    border-radius: 15px;
    text-align: center;
    position: relative;

    display: flex;
    align-items: flex-start;
    /* justify-content: center; */
    flex-direction: column;
}

.modal h2 {
    font-size: 30px;
    font-weight: 900;
    color: var(--gray-color);
    text-transform: uppercase;
}

.modal p {
    font-size: 16px;
    font-weight: 300;
    color: var(--gray-color);
    margin-bottom: 30px;
}

.modal .text-modal {
    font-size: 16px;
}

.modal .answer-modal {
    font-size: 35px;
    margin: 30px 0;
}

.btn-close-modal {
    position: absolute;
    top: 30px;
    right: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.row-modal {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.modal-group {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.modal-group label {
    font-size: 14px;
    font-weight: 400;
    color: var(--gray-color-light);
    margin-bottom: 5px;
}

.modal-group input,
.modal-group select {
    height: 48px;
    padding: 0 15px;
    border: 1px solid var(--main-color-light);
    color: var(--gray-color);
    width: 200px;
    font-size: 16px;
    border-radius: 5px;
}
